<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
</head>
<body>
    <div class="register-container">
        <form class="register-form" method="POST" action="">
            {% csrf_token %}
            <h2>Регистрация</h2>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <label for="username">Пользователь:</label>
            {% if form.username.errors %}
                <ul class="errorlist">{{ form.username.errors }}</ul>
            {% endif %}
            <input type="text" id="username" name="username" placeholder="Введите имя" required class="{% if form.username.errors %}error{% endif %}" value="{{ form.cleaned_data.username }}" />

            <label for="password1">Пароль:</label>
            {% if form.password1.errors %}
                <ul class="errorlist">{{ form.password1.errors }}</ul>
            {% endif %}
            <input type="password" id="password1" name="password1" placeholder="Введите пароль" required class="{% if form.password1.errors %}error{% endif %}" value="{{ form.cleaned_data.password1 }}" />

            <label for="password2">Подтвердите пароль:</label>
            {% if form.password2.errors %}
                <ul class="errorlist">{{ form.password2.errors }}</ul>
            {% endif %}
            <input type="password" id="password2" name="password2" placeholder="Введите пароль ещё раз" required class="{% if form.password2.errors %}error{% endif %}" value="{{ form.cleaned_data.password2 }}" />

            <label for="group">Группа:</label>
            {% if form.group.errors %}
                <ul class="errorlist">{{ form.group.errors }}</ul>
            {% endif %}
            <select id="group" name="group" required class="{% if form.group.errors %}error{% endif %}">
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if group.id|stringformat:"s" == form.cleaned_data.group|stringformat:"s" %}selected{% endif %}>{{ group.name }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Регистрация" />
        </form>
    </div>
</body>
</html>
